/* Download Section */
.download-section {
    padding: 50px 0 40px;
    background-color: white;
}

.download-block {
    width: 100%;
    height: 145px;
    margin: 30px 0;
    padding: 10px 10px;
    border: 1px solid #cedce8;
}

.download-block img {
    float: left;
}

.download-text {
    margin-left: 130px;
}

.download-title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
}

@media only screen and (min-width: 992px) {
    .download-title {
        font-size: 24px;
    }
}
