/* Intro Section */
.intro-section {
    padding: 90px 0 70px;
    background-color: white;
}

.intro-container {
    width: 80%;
    margin: auto;
}

.exxon-logo {
    float: left;
}

.popis-title {
    margin: 40px 0 25px;
}

@media only screen and (min-width: 992px) {
    .exxon-logo {
        float: right;
    }
}

/* Detail Section */
.detail-section {
    padding: 30px 0 60px;
    background-color: #f0f8ff;
}

.table-column {
    padding: 16px 0;
    border-bottom: 1px solid #ccdbe9;
}

.detail-text {
    font-size: 16px;
    color: #8ea3b4;
}

/* Download Section */
.download-section {
    padding: 50px 0 40px;
    background-color: white;
}

.download-block {
    width: 100%;
    height: 145px;
    margin: 30px 0;
    padding: 40px 25px;
    border: 1px solid #cedce8;
}

.download-block img {
    float: left;
}

.download-text {
    margin-left: 90px;
}

.download-title {
    font-size: 24px;
}

@media only screen and (min-width: 992px) {
    .download-block {
        padding: 40px 50px;
    }
}